version: '3.6'

services:
  mongo:
    image: mongo
    ports:
     - "27017:27017"
    volumes:
     - .:/data
    network_mode: bridge
    restart: always

#

volumes:
  mongo-db:
    external: true
